extends layout

block content

    h1 Create Figure
    form(method='post' action='')
        div
            label(for='name') Name (required):
            input(name='name' id='name' type='text' required 
                value=(figure !== undefined? figure.name : ''))
        div
            label(for='character') Character (required): 
            select(name='character' id='character' required)
                each character in characters
                    option(value=character._id selected=character.selected) #{character.name}
        div
            label(for='manufacturer') Manufacturer: 
            input(type='text' name='manufacturer' id='manufacturer')
        div
            label(for='specs') Specifications:
            input(type='text' name='specs' id='specs')
        div
            label(for='includes') Includes:
            input(type='text' name='includes' id='includes')
        div
            label(for='price') Price:
            input(type='number' name='price' id='price')
        div
            label(for='height') Height (in cm):
            input(type='number' step='0.1' min='0' name='height' id='height')
        div
            label(for='store') Store link:
            input(type='url' name='store' id='store')
        button(type='submit') Create
    if errors
        ul
            each error in errors
                li= error.msg
