extends layout

block content
    h1 #[strong Figure:] #{figure.name}
    ul
        li #[strong Character:] #{figure.character.name}
        li #[strong Franchise:] #{figure.character.franchise.name}
    p
        a(href=`/figure/update/${figure._id}`) Update this figure
    p
        a(href=`/figure/delete/${figure._id}`) Delete this figure
