extends layout
block content
    h1= franchise.name
    p= franchise.description
    h2 #[strong Characters:] 
    if characters.length
        ul
            each character in characters
                li
                    a(href=character.url) #{character.name}
    else
        p This franchise doesn't have any characters yet.
    a(href=`/franchise/delete/${franchise._id}`) Delete this franchise
